<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
	    point="org.eclipse.ui.actionSets">
		<actionSet
	        id="ca.mcgill.cs.swevo.jayfx.JayFXActions"
	        visible="true"
	        label="JayFX Actions"> 
	    	<menu
	        	label="Run &amp;JayFX"
	           	id="jayfxMenu">
	        	<separator
	            	name="jayfxGroup">
	        	</separator>
	     	</menu>   
	        <action 
	           	id="ca.mcgill.cs.swevo.jayfx.test.TestAction"
	           	label="&amp;Test JayFX"
	           	style="push"
	           	icon="icons/reload.gif"
	           	tooltip="Test JayFX"
	   			menubarPath="jayfxMenu/jayfxGroup"
	           	toolbarPath="Normal"
	           	class="ca.mcgill.cs.swevo.jayfx.test.Test">
	        </action>             
	
	    </actionSet>
   </extension>
</plugin>
